<h1 class="padded">CoachingController#ask</h1>


<form action="/answer">
  <label for="query">Speak to your coach</label>
  <input type="text" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
